elasticsearch/data
elasticsearch/logs
under_test
elasticsearch/plugins__

wrapper.log

elasticsearch/bin/service/elasticsearch.status
elasticsearch/bin/service/elasticsearch.pid
elasticsearch/bin/service/elasticsearch.java.status

